h1{
  color: darkblue;
  text-align: center;
}
p{
  font-family: sans-serif;
  font-size: 18px;
}
.intro{
  font-style: italic;
}
ul{
  line-height: 30px;
  font-family: sans-serif;
  color: gray;
}
ol{
  line-height: 30px;
    font-family: sans-serif;
    color: gray;
}
body{
  color: darkblue;
  background-color: lightblue;
}
